<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="index.css">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"> 

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet"> 


    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> 
</head>

<body>

	<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->

    <header>
        <div class="row" >
            <div class="col-md-4" id="title">
                <img src="./img/logo.png" style="width: 100px; height: 100px; margin: 15px;">
            </div>
            <div class="col-md-8">
              <div class="btn-group" role="group" id="topbuttons" style="display:inline-block;float:right; margin-right:2%; margin-top: 15px">
                <button id="helpBtn" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#help">Help</button>
              </div>
             </div>
        </div>
    </header>

    <body id="top" class="header">
        

        <div class="col-md-3">
        </div>

        <div class="col-md-6">
        
            <div class = "transbox2">  
                  <h4>Family Size</h4>
                  <select class="formAdult input-lg" >
                      <option>1 Adult</option>
                      <option>2 Adult</option>
                      <option>3 Adult</option>
                      <option>4 Adult</option>
                      <option>5+ Adults</option>
                  </select>
                  <select class="formChild input-lg" >
                      <option>1 Child</option>
                      <option>2 Children</option>
                      <option>3 Children</option>
                      <option>4 Children</option>
                      <option>5+ Children</option>
                  </select>
                  <h4>Expected Income</h4>
                  <select class="ExpectedIncome input-lg" >
                      <option>15K - 30K</option>
                      <option>30K - 50K</option>
                      <option>50K - 70K</option>
                      <option>70K - 90K</option>
                      <option>90k+</option>
                  </select>
                  <h4>Race</h4>
                  <select class="race input-lg" >
                      <option>Middle Eastern</option>
                      <option>Asian</option>
                      <option>White</option>
                      <option>Black</option>
                      <option>Hispanic</option>
                  </select>
                  <h4>Transportation</h4>
                  <select class="transportation input-lg" >
                      <option>Car</option>
                      <option>Public Transport</option>
                  </select></br></br>
                  <button onclick="window.location.href='/map'" type="button" id="searchBtn" class="btn btn-secondary" data-toggle="modal" data-target="#update" ><b>Search</b></button>
            </div> 
         
        </div>

        <div class="col-md-3">
        </div>        
                       
       
   
        
    </body>


	    <!-- jQuery -->
	    <script src="js/jquery.js"></script> 

	    <!-- Bootstrap Core JavaScript -->
	    <!-- <script src="js/bootstrap.min.js"></script> -->

	    <!-- Custom Theme JavaScript -->
	    <!-- <script src="js/clean-blog.min.js"></script> -->


	<script src="./js/d3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
	<script src="./js/index.js"></script>


</body>