<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href="index.css">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="js/jquery.js"></script>
    <script type="text/javascript" src="../js/sliding.form.js"></script>

</head>

<body id="top" class="header" style="font-family: Roboto;">

	<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
    <div class="row" id = "nav" style="height:60px; background-color: transparent;">
        <div class="col-md-4" id="title">
            <img id="logo" onClick="toTop()" src="./img/al-manzel-logo-final cropped.png">
            <span style="vertical-align:top">Al Manzel</span>

            <script>
            function toTop() {
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
            </script>
        </div>
        <div class="col-md-8">
          <!--<div class="btn-group" role="group" id="topbuttons" style="display:inline-block;float:right; margin-right:2%; margin-top: 15px">
            <button type="button" id="helpBtn" class="btn btn-secondary" data-toggle="modal" data-target="#help">Help</button>-->
            <!-- The overlay -->
            <div id="myNav" class="overlay">

              <!-- Button to close the overlay navigation -->
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

              <!-- Overlay content -->
              <div class="overlay-content" id="helpInfo">
                <b>Al Manzel</b> means <b>home</b> in Arabic.
                </br>
                We aim to help refugees and immigrants find a new home in San Diego.</br>
                Using factors such as housing cost, language, culture, </br>education, and age range, we help you and your family </br>have the best chance to succeed in San Diego.

              </div>

            </div>

            <!-- Use any element to open/show the overlay navigation menu -->
            <!--<span onclick="openNav()">open</span>-->


            <div class="btn-group" role="group" id="topbuttons" style="display:inline-block;float:right; margin-right: 2%; margin-top: 7px">
                <button onclick="openNav()" type="button" id="helpBtn" class="btn btn-secondary" data-toggle="modal" data-target="#help">Help</button>
            </div>
         </div>
    </div>
</header>

    <div class="spacer">
        &nbsp;
    </div>


    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div id="content">
        <div id="wrapper">
            <div id="steps">
                <form id="formElem" name="formElem" action="/map" method="get">
                    <fieldset class="step">
                        </br>
                        <h3>Welcome to San Diego! <br></br>
                            <b><i>Al Manzel</i></b> is a tool that helps you find<br>
                            the best location for you and your family<br>
                            to set up your new home!</br></br>
                        </h3>
                        <a id="tellUs" class="btn btn-dark btn-lg" style="background-color:#27c2a8">Get Started</a> <br> <br>
                    </fieldset>
                    <fieldset class="step">
                        <p >Please answer a few questions to help us determine what kind of neighborhood suits you and your family.</p>

                        <h3>How large is your family?</h3>
                        <select class="formAdult input-lg" name="adults">
                          <option>0 Adults</option>
                          <option>1 Adult</option>
                          <option>2 Adults</option>
                          <option>3 Adults</option>
                          <option>4 Adults</option>
                          <option>5+ Adults</option>
                          <option>Prefer not to answer</option>
                        </select>
                        <select class="formChild input-lg" name="children">
                          <option>0 Children</option>
                          <option>1 Child</option>
                          <option>2 Children</option>
                          <option>3 Children</option>
                          <option>4 Children</option>
                          <option>5+ Children</option>
                          <option>Prefer not to answer</option>
                        </select>
                        </br>
                        </br>

                    </fieldset>
                    <fieldset class="step">
                        <p>This question helps us match you to an affordable neighborhood.<p>
                        <h3>What is your family's expected income?</h3>
                        <select class="ExpectedIncome input-lg" name="income">
                          <option>0K - 15K</option>
                          <option>15K - 30K</option>
                          <option>30K - 50K</option>
                          <option>50K - 70K</option>
                          <option>70K - 90K</option>
                          <option>90k+</option>
                          <option>Prefer not to answer</option>
                        </select>
                        </br>
                    </fieldset>
                    <fieldset class="step">
                        <p>We try to match newly incoming immigrants to neighborhoods of similar race. Feel free to skip this question if this is not something you are concerned about.<p>

                        <h3>What is your race?</h3>
                        <select class="race input-lg" name="race">
                          <option>Middle Eastern</option>
                          <option>Asian</option>
                          <option>White</option>
                          <option>Black</option>
                          <option>Hispanic</option>
                          <option>Prefer not to answer</option>
                        </select>
                        </br>
                        </br>
                    </fieldset>
                    <fieldset class="step">
                        <p>Public transportation is more accessible in some neighborhoods rather than others.<p>

                        <h3>What will be your primary mode of transportation?</h3>
                        <select class="transportation input-lg" name="transportation">
                          <option>Car</option>
                          <option>Public Transport</option>
                          <option>Prefer not to answer</option>
                        </select>
                        </br>
                        <p class="submit">
                            <button id="submitButton" type="submit" style="display:none">See Results</button>
                        </p>
                    </fieldset>
                </form>
            </div><!--end of step-->

            <div id="navigation2" style="">
                <ul>
                    <li class="selected">
                        <button id ="backButton" style="display:none">Back</button>
                    </li>
                    <li>
                        <button id ="nextButton" style="display:none">Next</button>
                    </li>
                </ul>
            </div>
        </div><!--end of wrapper-->
        </div><!--end of content-->
    </div>
</body>


<!-- jQuery -->
<!-- Bootstrap Core JavaScript -->
<!-- <script src="js/bootstrap.min.js"></script> -->

<!-- Custom Theme JavaScript -->
<!-- <script src="js/clean-blog.min.js"></script> -->


<script src="./js/d3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="./js/index.js"></script>
<script src="./js/custom.js"></script>
