<html>
<head>
	<link rel="stylesheet" href="/css/map.css">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"> 

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet"> 

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

   <style>
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map{ height: 100% }
  </style>

</head>

<header>
	<div class="row" id = "nav" style="height:60px;">
		<div class="col-md-4" id="title">
			<img onClick="toTop()" src="./img/logo.png" style="width: 40px; height: 40px; margin-left: 15px;">
			Al Manzel

			<script>
			function toTop() {
			    $("html, body").animate({ scrollTop: 0 }, "slow");
			}
			</script>
		</div>
		<div class="col-md-8">
	      <!--<div class="btn-group" role="group" id="topbuttons" style="display:inline-block;float:right; margin-right:2%; margin-top: 15px">
	        <button type="button" id="helpBtn" class="btn btn-secondary" data-toggle="modal" data-target="#help">Help</button>-->



	        <!-- The overlay -->
			<div id="myNav" class="overlay">

			  <!-- Button to close the overlay navigation -->
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

			  <!-- Overlay content -->
			  <div class="overlay-content" id="helpInfo">
			    <b>Al Manzel</b> means <b>home</b> in Arabic.
			    </br>
			    We aim to help refugees and immigrants find a new home in San Diego.</br>
			    Using factors such as housing cost, language, culture, </br>education, and age range, we help you and your family </br>have the best chance to succeed in San Diego. 

			  </div>

			</div>

			<!-- Use any element to open/show the overlay navigation menu -->
			<!--<span onclick="openNav()">open</span>-->


			<div class="btn-group" role="group" id="topbuttons" style="display:inline-block;float:right; margin-right: 2%; margin-top: 7px">
		        <button onclick="openNav()" type="button" id="helpBtn" class="btn btn-secondary" data-toggle="modal" data-target="#help">Help</button>
			</div>
	     </div>
    </div>
</header>



<body>
	<div class="spacer">
    	&nbsp;
	</div>
	<div class="row" style="height:100%; background-color: #30373C;">
		<div class="col-md-3" id="filter" >
		      <center>
			<form>
			</br>
		      <p><label for="adults">Number of Adults</label></br>
			  <select name="adults" class="input-lg" >
				  <option>1 </option>
				  <option>2 </option>
				  <option>3 </option>
				  <option>4 </option>
				  <option>5+ </option>
			  </select></p>

			  <p><label for="children">Number of Children</label></br>
			  <select name="children" class="input-lg" >
				  <option>1 </option>
				  <option>2 </option>
				  <option>3 </option>
				  <option>4 </option>
				  <option>5+ </option>
			  </select></p>

			  <p><label for="income">Expected Income</label></br>
			  <select name="income" class="input-lg" >
				  <option>15K - 30K</option>
				  <option>30K - 50K</option>
				  <option>50K - 70K</option>
				  <option>70K - 90K</option>
				  <option>90k+</option>
			  </select></p>

			  <p><label for="race">Race</label></br>
			  <select name="race" class="input-lg" >
				  <option>Middle Eastern</option>
				  <option>Asian</option>
				  <option>White</option>
				  <option>African American</option>
				  <option>Hispanic</option>
			  </select></p>

			  <p><label for="transportation">Transportation</label></br>
			  <select name="transportation" class="input-lg" >
				  <option>Car</option>
				  <option>Public Transport</option>
			  </select></br></p>

			  <input type="submit" value="Update" id="updateBtn" class="btn btn-secondary">
			</form>
		</center>
		</div>

		<div class="col-md-9" style="display: inline-block; height:100% !important;">
			<div id="map" style="width:100% !important; height:100% !important;"></div>
		</div>
	 </row>
	</div>

	<center>
		
		<div class="locationInfo" class="jumbotron vertical-center">
		<br></br></br></br>
		<h1 style="margin:15px" class="communityName">El Cajon<h1>
		<div id="infoText">Number of Crimes in the Area: <span id="crimeInfo"></span></div>
		<img src="./img/img1.jpg" style="width: 350px; height: 350px; margin: 15px;">
		<img src="./img/img2.jpg" style="width: 350px; height: 350px; margin: 15px;">
		<img src="./img/img3.gif" style="width: 350px; height: 350px; margin: 15px;">
			
		</div>

		<div class="section">
			<h1>Crime Data</h1>

			<div id="chart" class="chart">
			</div>
			
		</div>

		<div class="section">
			<div id="pieChart" class="jumbotron vertical-center">
				
				<script src="./js/d3.min.js"></script>
				<script src="./js/d3pie.js"></script>
				<script>
					var pie = new d3pie("pieChart", {
						"header": {
							"title": {
								"text": "Current Income Distribution",
								"fontSize": 22,
								"font": "verdana"
							},
							"subtitle": {
								"color": "#999999",
								"fontSize": 10,
								"font": "verdana"
							},
							"titleSubtitlePadding": 12
						},
						"footer": {
							"text": "Source: DELPHI",
							"color": "#999999",
							"fontSize": 11,
							"font": "open sans",
							"location": "bottom-center"
						},
						"size": {
							"canvasWidth": 800,
							"pieOuterRadius": "88%"
						},
						"data": {
							"content": [
								{
									"label": "<$15K",
									"value": 5725,
									"color": "#2383c1"
								},
								{
									"label": "$15K - $35K",
									"value": 9717,
									"color": "#64a61f"
								},
								{
									"label": "$35K - $50K",
									"value": 5821,
									"color": "#7b6788"
								},
								{
									"label": "$50K - $75K",
									"value": 7174,
									"color": "#a05c56"
								},
								{
									"label": "$75K - $100K",
									"value": 4708,
									"color": "#961919"
								},
								{
									"label": "$100K - $150K",
									"value": 4842,
									"color": "#a7b36d"
								},
								{
									"label": "$150K - $200K",
									"value": 1867,
									"color": "#e98125"
								},
								{
									"label": ">$200K",
									"value": 1431,
									"color": "#d0743c"
								}
							]
						},
						"labels": {
							"outer": {
								"pieDistance": 32
							},
							"mainLabel": {
								"color": "#000000",
								"font": "verdana"
							},
							"percentage": {
								"color": "#e1e1e1",
								"font": "verdana",
								"decimalPlaces": 0
							},
							"value": {
								"color": "#e1e1e1",
								"font": "verdana"
							},
							"lines": {
								"enabled": true,
								"color": "#cccccc"
							},
							"truncation": {
								"enabled": true
							}
						},
						"tooltips": {
							"enabled": true,
							"type": "placeholder",
							"string": "{value} households"
						},
						"effects": {
							"pullOutSegmentOnClick": {
								"effect": "linear",
								"speed": 400,
								"size": 8
							}
						},
						"callbacks": {}
					});
				</script>
			</div>
		</div>


		<div class="section">
			<h3> Crime Data</h3>
			<div id="demoChart">
			</div>
			<div> 
				<p>
				Description
				<p>
			</div>
		</div>
	</center>

  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src="./js/map.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/custom.js"></script>
  <script src="./js/index2.js"></script>
</body>

</html> 




