<html>
<head>
	<link rel="stylesheet" href="/css/map.css">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
	<link rel="stylesheet" type="text/css" href="css/piechart.css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

   <style>
    #map{ height: 100% }
  </style>

</head>

<header>
	<div class="row" id = "nav" style="height:60px;" onClick="toTop()">
			<script>
	            function toTop() {
	                $("html, body").animate({ scrollTop: 0 }, "slow");
	            }
            </script>
		<div class="col-md-4" id="title">

			<a href="/" style="text-decoration: none">
				<img id="logo" onClick="toIndex()" src="./img/al-manzel-logo-final cropped.png" style="width: 40px; height: 40px; margin-left: 15px;">
			</a>
			<span style="vertical-align:top">Al Manzel</span>

		</div>
		<div class="col-md-8">
	      <!--<div class="btn-group" role="group" id="topbuttons" style="display:inline-block;float:right; margin-right:2%; margin-top: 15px">
	        <button type="button" id="helpBtn" class="btn btn-secondary" data-toggle="modal" data-target="#help">Help</button>-->
	        <!-- The overlay -->
			<div id="myNav" class="overlay">

			  <!-- Button to close the overlay navigation -->
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

			  <!-- Overlay content -->
			  <div class="overlay-content" id="helpInfo">
                <h1> <b>Al Manzel</b> means <b>home</b> in Arabic.</h1>
                </br>
                Over the past decade, San Diego welcomed more refugees and immigrants than any other city in the U.S., However, in such a large and diverse city, it can be hard to find a welcoming neighborhood. We aim to help refugees and immigrants find a new home in San Diego.</br>
              by using factors such as family size, household income, race, transportaiton and crime rate. Or goal is to to  help you and your family </br>have the best chance to succeed in San Diego.

              </div>

			</div>

			<!-- Use any element to open/show the overlay navigation menu -->
			<!--<span onclick="openNav()">open</span>-->


			<div class="btn-group" role="group" id="topbuttons" style="display:inline-block;float:right; margin-right: 2%; margin-top: 7px">
		        <button onclick="openNav()" type="button" id="helpBtn" class="btn btn-secondary" data-toggle="modal" data-target="#help">Help</button>
			</div>
	     </div>
    </div>
</header>



<body style="font-family: Roboto;">
	<div class="spacer">
    	&nbsp;
	</div>
	<div id="mapSection" class="section">

			<div id="mapdiv"
			data-adults="{{adults}}" data-children="{{children}}" data-income="{{income}}" data-race="{{race}}" data-transportation="{{transportation}}">
				<div id="map"></div>
				<div id="mapoverlay"></div>
			</div>

			<div id="filter" >
			      <center>
				<form>
				</br>
			      <p><label for="adults">Number of Adults</label></br>
				  <select name="adults" id="adults"class="input-lg" >
					  <option value="0 Adults">0 Adults</option>
	                  <option value="1 Adults">1 Adult</option>
	                  <option value="2 Adults">2 Adults</option>
	                  <option value="3 Adults">3 Adults</option>
	                  <option value="4 Adults">4 Adults</option>
	                  <option value="5+ Adults">5+ Adults</option>
	                  <option value="Prefer not to answer">Prefer not to answer</option>
				  </select></p>

				  <p><label for="children">Number of Children</label></br>
				  <select name="children" id="children"class="input-lg" >
					  <option value="0 Children">0 Children</option>
	                  <option value="1 Child">1 Child</option>
	                  <option value="2 Children">2 Children</option>
	                  <option value="3 Children">3 Children</option>
	                  <option value="4 Children">4 Children</option>
	                  <option value="5+ Children">5+ Children</option>
	                  <option value="Prefer not to answer">Prefer not to answer</option>
				  </select></p>

				  <p><label for="income">Expected Income</label></br>
				  <select name="income" id="income"class="input-lg" >
					  <option value="0K - 15K">0K - 15K</option>
	                  <option value="15K - 30K">15K - 30K</option>
	                  <option value="30K - 50K">30K - 50K</option>
	                  <option value="50K - 70K">50K - 70K</option>
	                  <option value="70K - 90K">70K - 90K</option>
	                  <option value="90k+">90k+</option>
	                  <option value="Prefer not to answer">Prefer not to answer</option>
				  </select></p>

				  <p><label for="race">Race</label></br>
				  <select name="race" id="race"class="input-lg" >
					  <option value="Middle Eastern">Middle Eastern</option>
	                  <option value="Asian">Asian</option>
	                  <option value="White">White</option>
	                  <option value="Black">Black</option>
	                  <option value="Hispanic">Hispanic</option>
	                  <option value="Prefer not to answer">Prefer not to answer</option>
				  </select></p>

				  <p><label for="transportation">Transportation</label></br>
				  <select name="transportation" id="transportation" class="input-lg" >
					  <option id="Car">Car</option>
					  <option id="Public Transport">Public Transport</option>
					  <option id="Prefer not to answer">Prefer not to answer</option>
				  </select></br></p>

				  <input type="submit" value="Update" id="updateBtn" class="btn btn-secondary">
				</form>
			</center>
			</div>


		<!-- <div id="mapRow" class="row">
			<div class="col-md-3" id="filter" >
			      <center>
				<form>
				</br>
			      <p><label for="adults">Number of Adults</label></br>
				  <select name="adults" id="adults"class="input-lg" >
					  <option value="0 Adults">0 Adults</option>
	                  <option value="1 Adults">1 Adult</option>
	                  <option value="2 Adults">2 Adults</option>
	                  <option value="3 Adults">3 Adults</option>
	                  <option value="4 Adults">4 Adults</option>
	                  <option value="5+ Adults">5+ Adults</option>
	                  <option value="Prefer not to answer">Prefer not to answer</option>
				  </select></p>

				  <p><label for="children">Number of Children</label></br>
				  <select name="children" id="children"class="input-lg" >
					  <option value="0 Children">0 Children</option>
	                  <option value="1 Child">1 Child</option>
	                  <option value="2 Children">2 Children</option>
	                  <option value="3 Children">3 Children</option>
	                  <option value="4 Children">4 Children</option>
	                  <option value="5+ Children">5+ Children</option>
	                  <option value="Prefer not to answer">Prefer not to answer</option>
				  </select></p>

				  <p><label for="income">Expected Income</label></br>
				  <select name="income" id="income"class="input-lg" >
					  <option value="0K - 15K">0K - 15K</option>
	                  <option value="15K - 30K">15K - 30K</option>
	                  <option value="30K - 50K">30K - 50K</option>
	                  <option value="50K - 70K">50K - 70K</option>
	                  <option value="70K - 90K">70K - 90K</option>
	                  <option value="90k+">90k+</option>
	                  <option value="Prefer not to answer">Prefer not to answer</option>
				  </select></p>

				  <p><label for="race">Race</label></br>
				  <select name="race" id="race"class="input-lg" >
					  <option value="Middle Eastern">Middle Eastern</option>
	                  <option value="Asian">Asian</option>
	                  <option value="White">White</option>
	                  <option value="Black">Black</option>
	                  <option value="Hispanic">Hispanic</option>
	                  <option value="Prefer not to answer">Prefer not to answer</option>
				  </select></p>

				  <p><label for="transportation">Transportation</label></br>
				  <select name="transportation" id="transportation" class="input-lg" >
					  <option id="Car">Car</option>
					  <option id="Public Transport">Public Transport</option>
					  <option id="Prefer not to answer">Prefer not to answer</option>
				  </select></br></p>

				  <input type="submit" value="Update" id="updateBtn" class="btn btn-secondary">
				</form>
			</center>
			</div>

			<div id="mapdiv" class="col-md-9"
			data-adults="{{adults}}" data-children="{{children}}" data-income="{{income}}" data-race="{{race}}" data-transportation="{{transportation}}">
				<div id="map"></div>
				<div id="mapoverlay"></div>
			</div>

		</div> -->
	</div>


	<div id="dynamicSection" class="section">
		<center>
				<h3 id="locationInfo" class="sectionTitle">More about this neighborhood</h3>
				<br>
				<p class="sectionDesc">Analyze and compare communities</p>
		</center>
		<br>
			<div id="comms" class="row">
				<div id="infoCol" class="col-xs-6">
					<div class="communityName" id="locName">El Cajon</div>
					<br>
					<div id="infoTextA"> <span id="locSummary">El Cajon is a city in San Diego County, California, United States. Nestled in a valley surrounded by mountains, the city has acquired the nickname of "The Big Box."</span></div>
				</div>
				<div id="imgCol" class="col-xs-6">
					<center>
						<img id="infoImg" src="http://s3-media4.fl.yelpcdn.com/bphoto/thN0eL4eF2KwtZ9tnH9L_A/o.jpg"></img>
					</center>
				</div>
			</div>
	</div>


	<div id="graphSection" class="section">
		<center>
			<div id="pieChart"></div>
			<script src="js/piechart.js"></script>
			
			<h3 class="sectionTitle"> Relevant Information</h3>
			<br>
			<p class="sectionDesc">Find out more about the San Diego Communities</p>
		<br>
		<div class="row" id="graphRow">
			<div class="col-xs-6">
				<center>
					<div class="chart" id="chart" style="width:100% !important; display:inline">
							<span class="chartText">Crimes by Area in 2012</span>
					</div>
			</center>
			</div>
			<div class="col-xs-6">
				<div id="pieChart" >

					<script src="./js/d3.min.js"></script>
					<script src="./js/d3pie.js"></script>
					<script>
						var pie = new d3pie("pieChart", {
							"header": {
								"title": {
									"text": "Current Income Distribution",
									"fontSize": 50,
									"font": "Roboto"
								},
								"subtitle": {
									"color": "#999999",
									"fontSize": 10,
									"font": "Roboto"
								},
								"titleSubtitlePadding": 12
							},
							"footer": {
								"text": "Source: DELPHI",
								"color": "#999999",
								"fontSize": 11,
								"font": "open sans",
								"location": "bottom-center"
							},
							"size": {
								"canvasWidth": 800,
								"pieOuterRadius": "88%"
							},
							"data": {
								"content": [
									{
										"label": "<$15K",
										"value": 5725,
										"color": "#2383c1"
									},
									{
										"label": "$15K - $35K",
										"value": 9717,
										"color": "#64a61f"
									},
									{
										"label": "$35K - $50K",
										"value": 5821,
										"color": "#7b6788"
									},
									{
										"label": "$50K - $75K",
										"value": 7174,
										"color": "#a05c56"
									},
									{
										"label": "$75K - $100K",
										"value": 4708,
										"color": "#961919"
									},
									{
										"label": "$100K - $150K",
										"value": 4842,
										"color": "#a7b36d"
									},
									{
										"label": "$150K - $200K",
										"value": 1867,
										"color": "#e98125"
									},
									{
										"label": ">$200K",
										"value": 1431,
										"color": "#d0743c"
									}
								]
							},
							"labels": {
								"outer": {
									"pieDistance": 32
								},
								"mainLabel": {
									"color": "#000000",
									"font": "verdana"
								},
								"percentage": {
									"color": "#e1e1e1",
									"font": "verdana",
									"decimalPlaces": 0
								},
								"value": {
									"color": "#e1e1e1",
									"font": "verdana"
								},
								"lines": {
									"enabled": true,
									"color": "#cccccc"
								},
								"truncation": {
									"enabled": true
								}
							},
							"tooltips": {
								"enabled": true,
								"type": "placeholder",
								"string": "{value} households"
							},
							"effects": {
								"pullOutSegmentOnClick": {
									"effect": "linear",
									"speed": 400,
									"size": 8
								}
							},
							"callbacks": {}
						});
					</script>
				</div>
			</div>
		</div>
	</center>
	</div>

  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.10.0/d3-legend.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src="./js/map.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/custom.js"></script>
  <script>

  var adults = $("#mapdiv").attr("data-adults");
  var child = $("#mapdiv").attr("data-children");
  var inc = $("#mapdiv").attr("data-income");
  var race = $("#mapdiv").attr("data-race");
  var trans = $("#mapdiv").attr("data-transportation");

  $("#adults").val(adults);
  $("#children").val(child);
  $("#income").val(inc);
  $("#race").val(race);
  $("#transportation").val(trans);
  </script>
</body>

</html>
