.col-md-3 h4{
	
	text-align: center;
}

.col-md-3 select{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px
}

#updateBtn{
	background-color: white;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#filter{
	padding-bottom: 20px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.map_piece {
  fill-opacity: .7 !important;
  stroke: #fff !important;
  stroke-width: 1px !important;
}

.map_piece:hover {
  fill-opacity: 1.0 !important;  
}