#nav{
  background-color: #278FC2;
  position: fixed;
  margin: 0;
  width:100%;
  z-index: 100;
}

body {
  background-color: lightgrey;
}

.spacer
{
    width: 100%;
    height: 60px;
}
label {
  color: white;
}

#logo{
  margin-top: 3px;
  vertical-align:top; 
  width: 40px; 
  height: 40px; 
  margin-left: 15px;
}

/*
.col-md-3 label{
  font-size: 15px;

}
.col-md-3 h4{
	text-align: center;
}

.col-md-3 select{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.col-md-3{
    margin-left: auto;
    margin-right: auto;
}*/

#mapoverlay {
 position: absolute;
 top: 70%;
 left: 5%;
 width: 120px;
 padding-top: 15px;
 padding-left: 20px;
 padding-bottom: 20px;
 border-radius: 5px;
 background-color: rgba(22, 26, 29, 0.5);
 border-radius: 10px;
}

#helpBtn{
  background: none;
}

#title{
  color: #fff;
  font-family: 'Cherry Swash', cursive;
  font-size: 40px;
}

#updateBtn{
	background-color: #27c2a8;
	display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 20px;
}

/*
#filter{
	padding-bottom: 20px;
  color: black;
}*/

#filter {
   position: absolute;
   top: 10%;
   left: 5%;
   background-color: rgba(22, 26, 29, 0.5);
   padding-top: 15px;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
   border-radius: 10px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.map_piece {
  fill-opacity: .6 !important;
  stroke: #fff !important;
  stroke-width: 1px !important;
}

.map_piece:hover {
  fill-opacity: 1.0 !important;
}

/* bar chat */

.chart {
  display: block;
  width: 75%;
}

.chart rect {
  fill: #278FC2;
}

.bar:hover {
  fill: #F3B529 ;
}


.locationInfo {
  background-color: #d3d3d3;
  padding-bottom: 30px;
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    color: #E5E7E6;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important; /* Override the font-size specified earlier (36px) for all navigation links */
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}:
    .closebtn {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
    }
}

#helpInfo{
  font-size: 40px;
  color: white;
}

#pieChart {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FAFAFA;
}

#chart {
    margin: 10px;
    background-color: #FAFAFA;
    display: inline-block !important;
}

#mapSection {
  margin-top: 0;
  padding-top: 0;
  height: 96% !important;
  width: 100% !important;
  padding: 10px !important;
}

#mapRow {
  display:inline;
}

#mapdiv {
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 96% !important;
  width: 100% !important;
  position: relative;
}

#dynamicSection {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 80%;
}

#graphSection {
  padding: 20px;
}

.chartText {
  font-size: 50px;
}

.section {
  margin:0;
  margin-bottom: 100px;
  background-color: white;
}

.sectionTitle {
  text-align: center;
  margin: 0 !important;
  font-size: 60px;
  font-weight: bold;
}

.sectionDesc {
  text-align: center;
  padding-top: 5px;
  font-size: 30px;
  padding-bottom: 20px;
}

#comms {
  width: 97%;
  height: 300px !important;
  background-color: white;
}

.communityName {
  text-align: center;
  font-size: 50px;
  font-style: italic;
}

#infoTextA {
  font: Roboto sans-serif;
  font-size: 25px;
}

#infoCol {
  padding-left: 70px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  height:400px !important;
}

#imgCol {
  padding-top: 10px;
  padding-bottom: 10px;
}

#infoImg {
  height: 400px !important;
  width: 700px !important;
}
